<article>
    <h2>Message du Général Grievous aux troupes de l'Empire Galactique :</h2>
    <section>
        <div class="Grievous"><img src="../../../assets/image/grievous.jpeg" alt=""></div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, nam. Assumenda dolore, rerum in ipsum
            deleniti nesciunt eum error itaque vero, quidem facere reiciendis enim? Ratione dolor libero quis
            repudiandae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, nobis fugiat! Quam, voluptate. Eaque quae totam
            hic rerum ut placeat, sit laborum minus, aperiam eos fugiat itaque ab optio eveniet.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate officiis asperiores, quo quos quisquam
            consectetur doloribus. Est, voluptate pariatur, dignissimos dolore fugit maxime, nesciunt quos aut
            doloremque placeat hic nihil.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, recusandae laudantium? Iusto corrupti
            voluptates in? Assumenda voluptate libero iste error voluptates eligendi deserunt! Inventore sit aut nam
            error, natus at.
            Vive l'Empire Galactique, gloire à notre leader suprême Dark Sidious !
        </div>
    </section>
</article>