<form [formGroup]="form" class="form">
  <div class="dialog-container">
    <h1 mat-dialog-title>
      {{ message + starshipChangedStatus.name }}
    </h1>
    <div mat-dialog-content class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Statut</mat-label>
        <mat-select disableRipple formControlName="starshipStatus">
          <mat-option
            [value]="starshipStatus"
            *ngFor="let starshipStatus of starshipStatus"
          >
            {{ starshipStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="changeStarshipStatus()"
      >
        Valider
      </button>
    </div>
  </div>
</form>
