<div class="container">
  <div class="title">
    <h2>Missions</h2>
  </div>

  <div class="scene">
    <div class="wrap">
        <div class="wall wall-right"></div>
        <div class="wall wall-left"></div>   
        <div class="wall wall-top"></div>
        <div class="wall wall-bottom"></div> 
        <div class="wall wall-back"></div>    
    </div>
    <div class="wrap">
        <div class="wall wall-right"></div>
        <div class="wall wall-left"></div>   
        <div class="wall wall-top"></div>
        <div class="wall wall-bottom"></div>   
        <div class="wall wall-back"></div>    
    </div>
  </div>

  <mat-card>
    <mat-card-content class="filter">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedFilter" (change)="handleFilterChange($event)">
        <mat-radio-button value="all">Tout</mat-radio-button>
        <mat-radio-button value="EN_COURS">En cours</mat-radio-button>
        <mat-radio-button value="ECHEC">Echec</mat-radio-button>
        <mat-radio-button value="REUSSITE">Réussite</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" (click)="redirectToCreateMission()">
        Créer une nouvelle mission
      </button>
    </mat-card-content>
  </mat-card>

  <div class="table">
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom de la mission</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="missionType">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.missionType }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pilots">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Pilotes</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let pilot of element.pilots">
              {{ pilot.name }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="flightHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Heures de vol</th>
        <td mat-cell *matCellDef="let element">
          {{ element.flightHours }}
        </td>
      </ng-container>

      <ng-container matColumnDef="missionStatus">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">
          {{ element.missionStatus }}
        </td>
      </ng-container>

      <ng-container matColumnDef="addPilotsToMission">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Ajouter des pilotes</th>
        <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="redirectToAddPilotsToMission(element)">
          Ajouter des pilotes
        </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="endMission">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Terminer mission</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="redirectToEndMission(element)">
            Terminer mission
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell information_if_no_data" colspan="4">No data</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
