
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@font-face {
  font-family: 'Galaxyout';
  src: url(./assets/font/sf-distant-galaxy.altoutline.ttf);
}

html, body { height: 100%; }
body { margin: 0; 
  background: url(./assets/image/ciel.gif) center;
  background-repeat: space;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: whitesmoke;
}
 
h1{
  font-family: 'Galaxyout';
  text-align: center;
  color: darkred;
  background-color: rgba(0, 0, 0, 0.541);
  margin: 0;
  padding: 20px 20px;
  font-size: 300%;
}


#footer{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.781);
  color: whitesmoke;
  padding: 5px 0;
}