<form [formGroup]="form" class="form">
  <div class="dialog-container">
    <h1 mat-dialog-title>{{message}} + {{missionToStrengthen.name}}</h1>
    <div mat-dialog-content class="form-container">
      <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="pilots" multiple>
        <mat-option *ngFor="let pilot of pilotsAvailableWithAStarship" [value]="pilot">{{pilot.name + " " + pilot.surname}}</mat-option>
      </mat-select>
    </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="handleAddPilotsToMission()"
      >
        Ajouter
      </button>
    </div>
  </div>
</form>
